@use "sass:map";
@use "./vars" as *;

// max-width media
@mixin respond-max($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $bp: map.get($breakpoints, $breakpoint);
    @media (max-width: $bp) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found.";
  }
}

// min-width media
@mixin respond-min($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $bp: map.get($breakpoints, $breakpoint);
    @media (min-width: $bp) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found.";
  }
}

// flex utills
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}