@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@400;700&display=swap");

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/woff2/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/woff2/Pretendard-Bold.woff2") format("woff2");
}

:root {
  --font-main: "Pretendard", sans-serif;
  --font-en: "Poppins", sans-serif;
  --font-kr: "Noto Sans KR", sans-serif;

  --black: #000;
  --white: #fff;
  --pink: #ed3da6;
}

$breakpoints: (
  "mobile-m": 419px,
  "mobile-l": 457px,
  "mobile-xl": 580px,
  "tablet-s": 747px,
  "tablet": 768px,
  "tablet-l": 799px,
  "laptop": 1024px,
  "laptop-l": 1025px,
  "desktop": 1471px,
);
